<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="https://lasugong.com/wp-content/uploads/2018/04/lasugong-LOGO-favicon.jpg" type="imgaes/gif" sizes="16x16 32x32">
    <link rel="stylesheet" href="/public/stylesheets/bursary2.css">
    <!-- <link rel="stylesheet" href="/stylesheet/css/bootstrap.min.css"> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/js/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/js/popper.min.js"></script>
    <script src="/public/javascripts/bursary2.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>


    <style>
        body {
      margin: 0;
      padding: 0;
      /* background-image: url("images/pavers-3549293_1920.jpg"); */
      /* background-color: bisque; */
      /* background-size: 100%; */
    }

     .sidebar {
            padding-top: 70px;
      /* height: 200px; */
      /* background-color: transparent */
     }
  </style>


    <div id="main">

        <body>
            <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
                <img class="img img-rounded" src="/public/images/lasu.jpg" height="70px" width="70px" alt="">
                <a class="navbar-brand" href="#">
                    <strong>LasuClearence</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto d-lg-none">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"> Pending
                                <span class="sr-only">(current)</span>
                                <span class="badge badge-primary badge-pill">5000</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cleared
                                <span class="badge badge-primary badge-pill">820</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rejected
                                <span class="badge badge-primary badge-pill">200</span>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>



                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </ul>
                </div>
    </div>
    </nav>
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar list-group d-none d-lg-block sidebar">
        <form class="bd-search list-group-item d-flex align-items-center">
            <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
                <input type="search" class="form-control ds-input" id="search-input" placeholder="Search..."
                    autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
                    aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                <span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;">
                    <div class="ds-dataset-1"></div>
                </span>
            </span>
            <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse"
                data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
                    <title>Menu</title>
                    <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
                </svg>
            </button>
        </form>
        <div class="list-group-item list-group" id="status-tab" role="tab-list">
            <a href="/internal" class="list-group-item list-group-item-action active" id="pending-list" data-toggle="list"
                role="tab">Pending
                <span class="badge badge-primary badge-pill">5000</span>
            </a>
            <a href="/clearedInternal" class="list-group-item list-group-item-action" id="cleared-list" data-toggle="list" role="tab">Cleared
                <span class="badge badge-primary badge-pill">820</span>
            </a>
            <a href="/rejectedInternal" class="list-group-item list-group-item-action" id="rejected-list" data-toggle="list"
                role="tab" aria-controls="rejected">Rejected
                <span class="badge badge-primary badge-pill">200</span>
            </a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="pending" role="tabpanel">
            </div>
            <div class="tab-pane fade show active" id="cleared" role="tabpanel">
            </div>
            <div class="tab-pane fade show active" id="rejected" role="tabpanel">
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <h1 class="h1 table-title">PENDING LIST</h1>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>FULLNAME</th>
                                <th>MATRIC NUMBER</th>
                                <th>DETAILS</th>
                            </tr>
                        </thead>
                        <tbody>
            
                            
                             <% for(i=0; i<result.length; i++){%>
        
       <td> <b> <%= result[i].userFullName %> </b> </td>
       <td > <%= result[i].matricNo %>  </td>
       <td>          <button type="button" data-toggle="modal" class="btn btn-info btn-sm" class="details"
                                        data-target="#myModal<%=[i]%>">show
                                        details</button>



                                         <!-- Modal -->
        <!-- Trigger the modal with a button -->
                                             
        <div id="myModal<%=[i]%>" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                           STUDENT DETAILS</h4>

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <!-- document -->
                        <div class="container-fluid">

                            <ul class="list-group">
                                <li class="list-group-item"> 
                 
                                <img src="http://studentservices.lasu.edu.ng/returningstudents/images/stud_image/<%= result[i].matricNo %>.jpg" 
                                        class="img-circle"  width="100px" height="100px" alt="profile" srcset="">
   

              </li>
                                <li class="list-group-item"> <%= result[i].userFullName %>
                                    </li>
                                <li class="list-group-item"> <%= result[i].matricNo %>
                                    
                                </li>

                            </ul>



                            <h3>Transaction Receipt</h3>
                            
                            <!-- transaction slip -->
                            <div class="transaction slip">
                                <img src="<%= result[i].bursaryUnit.document %>"
                            
                                width="200px" height="200px" alt="profile" srcset="">
                            </div>
                            <br> <br>
                            

                            
                            <div class="form-group">
                                <form action="">
                                    <label for="comment">Comment:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                    <br>
                                    <button class="btn btn-primary" type="submit">post</button>
                                </form>
                            </div>
                                     
                            <div class="btn-group">
                                <form action="/internalClear?_method=PUT" method="POST" > 
                                <input type="hidden" name="resultId" value=<%= result[i]._id %>>
                                    <button type="submit" class="btn btn-success">CLEAR</button>
                                </div>
                                </form> 

                                
                                <div class="btn-group">
                                    <form action="/internalReject?_method=PUT" method="POST">
                                        <input type="hidden" name="studentId" value=<%= result[i]._id %>>
                                    <button type="submit" class="btn btn-danger">REJECT</button>
                                </div>
                                </form>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        
   

    </div>





        </td>
       </tr>
            <% } %>
                           
                        </tbody>

                    </table>
                </div>
            </div>


        </div>


    <script>
        $(document).ready(function () {
            $("#MyModal").modal();
        });
    </script>

<a href="/logoutInternal">Logout</a>
</body>

</html>