<!DOCTYPE html>
<html>

<head>
    <title><%= name%>'s profile</title>
  <link rel="shortcut icon" href="/public/assets/images/logo-114x123-2.png" type="image/x-icon">


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/public/assets/images/lasu-logo.png"" type="image/x-icon">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/public/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/public/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/public/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/public/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/public/assets/datatables/data-tables.bootstrap4.min.css">
  <link rel="stylesheet" href="/public/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/public/assets/theme/css/style.css">
  <link rel="stylesheet" href="/public/assets/mobirise/css/mbr-additional.css" type="text/css">
 <link rel="stylesheet" href="/public/stylesheets/students.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <!-- <link rel="stylesheet" href="pulic/theme.css" type="text/css"> -->

</head>

<body>
  <!--Page navigation header-->
  <header>
    <sectionclass="menu cid-qTkzRZLJNu" once="menu" id="menu1-3">
      <div class="main-head row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <table>
                    <tr>
                        <td><img src="/public/images/lasu.jpg" height="50px" width="50px"></td>
                        <td>   <p>LASU CLEARANCE </p>  </td>
                    </tr>
                </table>

                
            </div>


            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    <div class="col-lg-4 col-md-3 col-sm-4"></div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
   <table>
                    <tr>
                        <td>
                             <div class="circleBase type2"> 
                    <a href="/profile" style="text-decoration: none">  
                    <center>
                         <img src="http://studentservices.lasu.edu.ng/returningstudents/images/stud_image/<%=matricNo%>.jpg" width="40px" height="40px" class="circleBase" alt=""> 
                    </center>
                    </a>
                </div>
                        </td>
                        <td style="padding-left: 30px;">
                <a href="/logout">Log Out</a>

                        </td>                        
                    </tr>
                </table>


                    </div>
                    
                </div>
             

                 


            </div>
               
      
</div>
    </section>
  </header>


  <!-- Body -->
  <div class="col-small-12 col-sm-12 col-12 col-lg-6 col-md-6 rounded rounded-bottom rounded-top shadow-lg mx-auto "
    style="margin-top:100px; margin-bottom:40px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 border-bottom border-primary mt-2 p-3 py-4"  style="background-color:cadetblue; background-image:url('/public/images/col0.jpg');	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <div class="col-md-12" style="">
            <div class="col-md-12" style=""><img class="d-block mx-auto mb-3" src="http://studentservices.lasu.edu.ng/returningstudents/images/stud_image/<%=matricNo%>.jpg"
                width="180px" height="180px"></div>
            <p style="font-weight: bolder; font-size: 27px;" class="lead text-center text-light"><b><%=name%></b></p>
          </div>
        </div>
      </div>
      <div class="row rounded border-right border-top-0 border-bottom border-left">
        <div class="col-md-12 pt-2" style="">
          <div class="col-md-12" style="">
            <ul class="list-group list-group-flush mb-2">
                                      
              <li class="list-group-item"><b>Name</b><b style="" class="float-right"><%=name%></b></li>
              <li class="list-group-item"><b> Matric Number</b><b class="float-right"><%=matricNo%></b></li>
              <li class="list-group-item" style=""><b> Department</b><b style="" class="float-right"><%=department%></b></li>
              <li class="list-group-item"><b> Email</b><b class="float-right"><%= email%></b></li>
              <li class="list-group-item"><b> Phone Number</b><b class="float-right"><%=phone%></b></li>
         
              <li class="list-group-item"><b>Year of Entry</b><b class="float-right"><%=year%></b></li>
              
              <li class="list-group-item"><b> Home Address</b><b class="float-right"><%=address%></b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 px-5" style="">
          <a class="btn btn-primary btn-block pt-2 my-3" href="/students" style="">
            <b><%=button%></b>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="py-3" >
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center d-md-flex align-items-center">
            <ul class="nav d-flex justify-content-center">
              <li class="nav-item"> <a class="nav-link active" href="#">Home</a> </li>
              <li class="nav-item"> <a class="nav-link" href="#">Our Team</a> </li>
              <li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
            </ul><img class="img-fluid d-block mx-auto" src="/public/images/lasu.jpg" width="80px">
            <p class="mb-0 py-1 text-muted" style="font-family:Arial, Helvetica, sans-serif">© 2018 Lasucode All rights reserved</p>
          </div>
        </div>
      </div>
    </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous" ></script>

</body>

</html>
