



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=name%>'s Profile</title>
    <link rel="icon" href="https://lasugong.com/wp-content/uploads/2018/04/lasugong-LOGO-favicon.jpg" type="imgaes/gif" sizes="16x16 32x32">
  
     <link rel="stylesheet" href="/public/stylesheets/profile.css"> 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    

<div class="container">
      
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="header ">
             <div class="row">
             <div class="col-lg-4 col-md-4 col-md-12"> 
             </div>

             <div class="col-lg-4 col-md-4 col-md-12"> 
                 <b>STUDENT PROFILE</b>
             </div>

             <div class="col-lg-4 col-md-4 col-md-12"> 
             </div>
         </div>
    
        </div>
        </div>
         </div>

         <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="image">
             <div class="row">
             <div class="col-lg-4 col-md-4 col-md-12"> 
             </div>

             <div class="col-lg-4 col-md-4 col-md-12"> 
             </div>

             <div class="col-lg-4 col-md-4 col-md-12"> 
                 <img src="http://www.studentservices.lasu.edu.ng/returningstudents/images/stud_image/<%=matricNo%>.jpg" class="rounded imag" alt="img" height="150px" width="150px">
                
                </div>
         </div>
    
        </div>
        </div>
         </div>


          <div class=" col-md-9 col-lg-9 col-sm-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td><%=name%></td>
                      </tr>
                      <tr>
                        <td>Matric Number:</td>
                        <td><%=matricNo%></td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Male</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>No 2, Okesola Close, Ifako, Lagos</td>
                      </tr>
                    <tr>
                        <td>Bursary No:</td>
                        <td>66132461BF</td>
                      </tr>

                      <tr>
                        <td>Year of Entry:</td>
                        <td>2014</td>
                      </tr>

                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:i@support.com">opesiyanbola@yahoo.com</a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td>08167526178
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                
                  <a href="/students" class="btn btn-primary"><%=button%></a>
              
                  <a href="/logout">logout</a>
                </div>
              </div>
            </div>
    


</body>
</html>