<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/students.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<!-- <script src="../public/js/paystack.js"></script> -->



<script src="https://js.paystack.co/v1/inline.js"></script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
</script>
<!--JS below-->


<!--modal-->
<script>
  $(document).ready(function() {
  $("#MyModal").modal();
  });
</script>

</head>
<body>
     <div class="main-head"><img src="/public/images/lasu.jpg" height="50px" width="50px"> <p>LASU CLEARANCE 
                <div class="circleBase type2"> 
                    <a href="/profile" style="text-decoration: none">  
                    <center>
                        <h2 style="color: white; margin-top:2px; font-family: 'Slabo 27px', serif; font-weight: 2px">O</h2>
                    </center>
                    </a>
                </div> 
                <a href="/logout" style="float: right">Log Out</a>
      
</div>
     <div class="wrapper1">
         
    <div class="body-content">

        <div class="bhead-h1"><h1 class="head-text">Welcome <%=userName%>! You have currently enrolled for the LASU Clearance process.</h1>
            
            <div class="bhead-p"><p>Important Notice You must be cleared first at the Bursary Interface before you can proceed to other process.
                 <br> Any issues that might occur during the clearance process based on some factors shall be passed down to your mail</p>
                
        </div>
        </div>
        <div class="row bb">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bcontent">
            
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><p> BURSARY </p> <br> <p style="margin-top: -10px">STATUS: <b> <%=doc.bursaryUnit.status%> </b> </p> </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn btn-primary btn1" id="yoo" style="float: right; background-color: #148BB1; <%if(doc.bursaryUnit.status != "NOT ENROLLED") {%> display: none; <%}%>" data-toggle="modal" data-target="#bursary">REGISTER</button> </div>
                
                  </div> 

        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
        </div>

         <div class="row bb">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bcontent">
            
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><p> LIBRARY </p> <br> <p style="margin-top: -10px">STATUS: <b> <%=doc.libraryUnit.status%></b> </p> </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> </div>
                </div> 

        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
        </div>

         <div class="row bb">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bcontent">
            
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><p> SPORT CENTRE </p> <br> <p style="margin-top: -10px">STATUS: <b> <%=doc.sportCenterUnit.status%> </b> </p> </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> </div>
                </div> 

        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
        </div>

         <div class="row bb">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bcontent">
            
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><p> FACULTY </p> <br> <p style="margin-top: -10px">STATUS: <b> <%=doc.facultyUnit.status%> </b> </p> </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> </div>
                </div> 

        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
        </div>

         <div class="row bb">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bcontent">
            
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><p> STUDENT AFFAIRS-DIVISION </p> <br> <p style="margin-top: -10px">STATUS: <b><%=doc.studentAffairs.status%></b> </p> </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> </div>
                </div> 

        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
        </div>

         <div class="row bb">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bcontent">
            
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><p> INTERNAL AUDIT </p> <br> <p style="margin-top: -10px">STATUS: <b> <%=doc.internalAuditUnit.status%> </b> </p> </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                </div> 

        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
        </div>

     </div>

 <div class="body-content final" style=" background: linear-gradient(151.05deg,#02ccba,#a951ed); text-align: center;">
      <h1 style="padding-bottom: 60px; color: white">  
           <%if(doc.bursaryUnit.status == "CLEARED" && doc.libraryUnit.status == "CLEARED" && doc.internalAuditUnit.status == "CLEARED" && doc.facultyUnit.status == "CLEARED"&& doc.sportCenterUnit.status == "CLEARED" && doc.studentAffairs.status == "CLEARED") {%> 
            
            CLEARED 
           <%} else   {  %>
             Awaiting Approval
              <%}%>
    </h1>
     </div>    


</div>



 <!-- Modal -->
  <div class="modal fade" id="bursary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">BURSARY</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
                 <form action="/payment?_method=PUT" method="POST" > 
                    <button class="btn btn-primary btn1" type="button" onclick="payWithPaystack()"> Pay alumni fee</button> 
               </form>
<hr>    

          <h5>Upload Transaction Receipt</h5>
         <p> <%= typeof msg != "undefined" ? msg : "" %> </p> 
          <form action="/upload?_method=PUT" method="POST" enctype="multipart/form-data">
          <input type="file" name="receipt">
<hr/>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
            <p>Information</p>
        

        </div>
      </div>
    </div>
  </div>

 <script src=".././routes/index.js"></script>

  <!-- <script>  
function payWithPaystack(){
    var handler = PaystackPop.setup({
        key: 'pk_test_2ea4a13fc1876b4e594d05f90282e112fcd8b0fb',

      email: '<%=userEmail%>',
      amount: 100000,
      ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
      metadata: {
         custom_fields: [
            {
                display_name: "Mobile Number",
                variable_name: "mobile_number",
                value: "+2348012345678"
            }
         ]
      },
      callback: function(response){
          
          alert('success. transaction ref is ' + response.reference);
      },
      onClose: function(){
          console.log('window closed');
      }
    });
    handler.openIframe();
  }
console.log(me)
</script> -->

  <script>
  function payWithPaystack(){
    var handler = PaystackPop.setup({
        key: 'pk_test_2ea4a13fc1876b4e594d05f90282e112fcd8b0fb',

      email: '<%= userEmail%>',
      amount: 100000,
      ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
      metadata: {
         custom_fields: [
            {
                display_name: "Mobile Number",
                variable_name: "mobile_number",
                value: "+2348012345678"
            }
         ]
      },
      callback: function(response){

          alert('success. transaction ref is ' + response.reference);
      },
      onClose: function(){
          alert('window closed');
      }
    });
    handler.openIframe();
  }
  </script>

</body>
</html>